<nav>
    <ul>
        <span class="left-side">
            <li id="brand" routerLink="/home"><span class="niq-span">NIQ</span>Discover</li>
            <span>
                <li class="list-items" *ngFor="let permission of user.permissions">{{allPermissions[permission]}}</li>
            </span>
        </span>

        <div class="right-side">
            <img src="../../assets/bell-solid.svg " alt="notification icon" />
            
            <div class="usericon">
            <li class="username">{{user.uname}}</li>
            <img class="user" src="../../assets/user-solid.svg " alt="user icon" />
            </div>
            <img style="margin-left: 15px" src="../../assets/question-circle.svg "
                alt="question mark within a circle" />
        </div>


    </ul>
</nav>