<nav>
    <ul>
        <span>
            <li id="brand"><span class="niq-span">NIQ</span>Discover</li>
            <li class="list-items mmb" (click)="highlight('mmb')">Monitor my business</li>
            <li class="list-items cat" (click)="highlight('cat')">Choose a template</li>
            <li class="list-items bat" (click)="highlight('bat')">Build a template</li>
            <li class="list-items fms" (click)="highlight('fms')">Find my stuff</li>
        </span>
        <div class="right-side">
            <img src="../../assets/bell-solid.svg " alt="notification icon" />
            <li class="inside-div">Nishant<img style="margin-left: 2px;" src="../../assets/user-solid.svg "
                    alt="user icon" />
            </li>
            <img style="margin-left: 15px" src="../../assets/question-circle.svg "
                alt="question mark within a circle" />
        </div>


    </ul>
</nav>