.report-page-footer{
    padding: 0px 12px;
    padding-top: 6px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: small;
    border-top: 1.5px solid white;
    background-color: rgb(242, 242, 242);
    user-select: none;
}