  <!-- <div id="mySidebar" class="sidebar">

    <ul class="sidebar-heading-ul">
      <li><strong><a href="javascript:void(0)" class="menubtn">...</a></strong></li>
      <li><strong><select name="dropdown" id="mainSelect" class="sidebar-heading-select">
            <option value="facts" (click)="openClose('facts')">Facts</option>
            <option value="products" (click)="openClose('products')">Products</option>
            <option value="markets" (click)="openClose('markets')">Markets</option>
            <option value="periods" (click)="openClose('periods')">Periods</option>
          </select></strong></li>
      <li><a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a></li>
    </ul>

    <div id="factsSidebar" class="sidebar-content">
      <a href="#">About</a><br>
      <a href="#">Services</a><br>
      <a href="#">Clients</a><br>
      <a href="#">Contact</a>
    </div>

    <div id="productsSidebar" class="sidebar-content">
      <a href="#">Services</a><br>
      <a href="#">Clients</a><br>
      <a href="#">Contact</a>
    </div>


  </div> -->

  <div id="main">
    <p><a class="openbtn"><strong>$</strong></a> of 
      <a class="openbtn"><strong>11 Products</strong></a> in 
      <a class="openbtn"><strong>2 Total US</strong></a> during 
      <a class="openbtn"><strong>13 4 Weeks</strong></a></p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, qui architecto aspernatur tenetur nam eaque
      cupiditate neque iste ut quod necessitatibus voluptate quae cumque quis! Esse dolor adipisci vero ab!</p>
  </div>
