<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div>

    </div>
    <div class="sidebar">
        <h2>Sidebar Title</h2>-->
        <!-- Add your sidebar content here -->
    <!--  </div>
    <a href="" (click) = "myFunction()">$</a> -->
    
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" (click)= "closeNav()">×</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
      
      <div id="main">
        <p><a  class="openbtn anchor" (click) = "openNav()">$</a> of <a class="openbtn" (click) = "openNav()">11 Products</a> in <a class="openbtn" (click) = "openNav()">2 Total US</a> during <a class="openbtn" (click) = "openNav()"><strong>13 4 weeks</strong></a></p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, qui architecto aspernatur tenetur nam eaque cupiditate neque iste ut quod necessitatibus voluptate quae cumque quis! Esse dolor adipisci vero ab!</p>
      </div>
</body>
</html>
