<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- <div>

    </div>
    <div class="sidebar">
        <h2>Sidebar Title</h2>-->
  <!-- Add your sidebar content here -->
  <!--  </div>
    <a href="" (click) = "myFunction()">$</a> -->

  <div id="mySidebar" class="sidebar">
    <div class="sidebar-heading">
      <ul>
        <li><strong><a href="javascript:void(0)" class="menubtn">...</a></strong></li>
        <li><strong><select name="dropdown" id="d1" class="sidebar-heading-select">
              <Option>Facts<a href="" class=""><img src="../src/app/assets/img/downarrow.jpg" alt=">"></a></Option>
            </select></strong></li>
        <li><a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a></li>
      </ul>
    </div>
    <div style="margin: 0px 8px;">
      <a href="#">About</a><br>
      <a href="#">Services</a><br>
      <a href="#">Clients</a><br>
      <a href="#">Contact</a>
    </div>
  </div>

  <div id="main">
    <p><a class="openbtn anchor" (click)="openNav()"><strong>$</strong></a> of <a class="openbtn"
        (click)="openNav()"><strong>11 Products</strong></a> in <a class="openbtn" (click)="openNav()"><strong>2 Total
          US</strong></a> during <a class="openbtn" (click)="openNav()"><strong>13 4 Weeks</strong></a></p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, qui architecto aspernatur tenetur nam eaque
      cupiditate neque iste ut quod necessitatibus voluptate quae cumque quis! Esse dolor adipisci vero ab!</p>
  </div>
</body>

</html>