<h2 class="header">Retail Measurement</h2>
<mat-icon class="back" mat-dialog-close (click)="goBack()">⬅</mat-icon>

<p class="context">Choose a dataset</p>
<mat-icon class="cross" mat-dialog-close></mat-icon>

<div padding="5px">
    <input type="text" data-cy="input-search-asset" id="search" name="searchText" class="search-bar">
    <mat-icon class="icon">🔍</mat-icon>
    
   
  


<mat-dialog-content class="custom-dialog-content">
    <div class="box-container">

        <div class="box">
            <h3 class="content">AUS APAC Dataset</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>

        <div class="box">
            <h3 class="content">Bacon</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>

        <div class="box">
            <h3 class="content">Dish Care Prod Copy</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>

        <div class="box">
            <h3 class="content">SYNDICATED US</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>

        <div class="box">
            <h3 class="content">Thomson_OD_0707</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>

        <div class="box">
            <h3 class="content">Synd Dataset</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>

        <div class="box">
            <h3 class="content">US SCJohnson - Home Cleaning</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>

        <div class="box">
            <h3 class="content">Thomson_OD</h3>
            <mat-dialog-actions align="end">
                <div id="checkbox-container" class="checked">
                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                        (change)="updateCheckboxSelection()">
                </div>
            </mat-dialog-actions>
        </div>
    </div>
</mat-dialog-content>

<!-- <div>
    <p class="context1">Save as Default</p>
</div> -->

<!-- <mat-dialog-actions align="start"> -->

<!-- <label id="checkbox-container" class="checked">
        <input type="checkbox" name="option1" value="option1" class="checkbox2">Save as Default
    </label> -->

<!-- </mat-dialog-actions>  -->

<mat-dialog-actions align="end">
    <div style="padding: 10px; ">
        <button class="cancel" mat-raised-button color="primary" mat-dialog-close
            style="padding: 20 px;">Cancel</button>
        <button class="next" mat-raised-button mat-dialog-close [disabled]="!isAtLeastOneCheckboxSelected"
            [style.background]="isAtLeastOneCheckboxSelected ? 'blue' : '#bbccdd'  "
            (click)="openNewDialog()">Next</button>
    </div>
</mat-dialog-actions>