.justified {
    display: flex;
    justify-content: space-between;
}
.iron-overlay-backdrop.opened {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,.5)!important;
    -webkit-backdrop-filter: blur(0px)!important;
    backdrop-filter: blur(0px)!important;
    margin: 0;
    padding: 0;
    opacity: 1;
}
.head {
    text-indent: 1.5cm;
    font-size: 30px;
}

.box-container {
    align-items: center;
    height: 360px;
    justify-content: space-between;
}

.box {
    flex-basis: calc(33.33% -20px);
    display: flex;
    margin: 10px;
    width: 478px;
    height: 115px;
    border:  1px solid rgb(204, 197, 197);
}

.cross {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    background-image: url("src\assets\images\close.png");
    background-size: cover;
}

.icon {
    position: unset;
    top: -500px;
    margin: 10px 20px 10px 20px;
    background-image: url("src\assets\images\home.png");
    background-size: cover;
}

.icon2 {
    position: unset;
    top: -500px;
    margin: 10px 20px 10px 20px;
    background-image: url("src\assets\images\Weigh.jpg");
    background-size: cover;
}

.icon3 {
    position: unset;
    top: -500px;
    margin: 10px 20px 10px 20px;
    background-image: url("src\assets\images\user.png");
    background-size: cover;
}

.checkbox1 {
    border-radius: 50%;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.cancel {
    margin-top: 50px;
    margin-right: 50px;
    padding: 15px;
}

.next {
    margin-top: 50px;
    padding: 15px;
    color: white;
    background-color: blue;
}