<h2 class="head">Choose source type</h2>
<!-- <iron-overlay-backdrop  class="opened"></iron-overlay-backdrop> -->
<mat-icon class="cross" aria-hidden="false" aria-label="Example cross icon" mat-dialog-close></mat-icon>


<mat-dialog-content class="custom-dialog-container">

    <div class="box-container">

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Omnishopper panel</h2>
                    <p class="justified">Broad, trended analytics of individual shopper purchasing behavior in online
                        and in store channels.</p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>


        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon3" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Home Omnisales</h2>
                    <p class="justified">Understand quarterly trends in retailer store counts and ACV shares across
                        outlet types and markets.</p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>


        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon2" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Retail Measurement</h2>
                    <p class="justified">Brand trended analytics of shop analytics of behaviour shopper behaviour in
                        purch entiree </p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Business Drivers</h2>
                    <p class="justified">Broad, trended analytics of individual shopper purchasing behavior in online
                        and in store channels.</p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon2" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Multi-country</h2>
                    <p class="justified">Understand quarterly trends in retailer store counts and ACV shares across
                        outlet types and markets.</p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon3" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Home Omnisales</h2>
                    <p class="justified">Brand trended analytics of shop analytics of behaviour shopper behaviour in
                        purch entiree.</p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Retail Omnisales</h2>
                    <p class="justified">Brand trended analytics of shop analytics of behaviour shopper behaviour in
                        purch entiree </p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon2" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Multi-country</h2>
                    <p class="justified">Brand trended analytics of shop analytics of behaviour shopper behaviour in
                        purch entiree </p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon3" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Business Drivers</h2>
                    <p class="justified">Broad, trended analytics of individual shopper purchasing behavior in online
                        and in store channels.</p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>

        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon2" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Home Omnisales</h2>
                    <p class="justified">Understand quarterly trends in retailer store counts and ACV shares across
                        outlet types and markets. </p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>


        <div class="box">
            <table>
                <tr style="height: 30px;">
                    <td>
                <tr><mat-icon class="icon3" aria-hidden="false" aria-label="Example weigh icon"></mat-icon></tr>
                <tr style="height: 30px;"></tr>
                </td>
                <td>
                    <h2>Omnishopper panel</h2>
                    <p class="justified">Broad, trended analytics of individual shopper purchasing behavior in online
                        and in store channels. </p>
                </td>
                <td>
                    <tr style="height: 30px"></tr>
                    <tr style="height: 50%;">
                        <td>
                            <mat-dialog-actions align="end">
                                <div id="checkbox-container" class="checked">
                                    <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                        (change)="updateCheckboxSelection()">
                                </div>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </td>
                </tr>
            </table>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">


    <div style="padding: 10px; ">
        <button class="cancel" mat-raised-button color="primary" mat-dialog-close
            style="padding: 20 px;">Cancel</button>
        <button class="next" mat-raised-button mat-dialog-close [disabled]="!isAtLeastOneCheckboxSelected"
            [style.background]="isAtLeastOneCheckboxSelected ? 'blue' : '#bbccdd'  "
            (click)="openNewDialog()">Next</button>
    </div>
</mat-dialog-actions>