* {
    font-family: Arial, Helvetica, sans-serif;
}
.bigcontainer{
    background-color: white;
    border: rgb(14, 13, 13);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 35vw;
    height: 83vh;

}
.page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    background-color: #00000080;
}
.head {
    text-indent: 3vh;
    font-size: 22px;
    padding-top: 3%;
    padding-bottom: 5px;
    font-weight: bold;
    // padding: 3% 5%;
}
.back {
    position: absolute;
    top: 2%;
    left: 3%;
    font-size: 30px;
    height: 400px;
    width: 200px;
    margin-left: 2px;

}
.search-bar {
    background-color: #F2F2F2;
    outline: none;
    margin-right: 10px;
    margin-left: 17px;
    min-height: 25px;
    font-size: 1.5rem;
    padding: 10px 40px;
    border: 0;
    border-bottom:  1px solid rgb(109, 105, 105);
    margin-bottom: 15px;
    width: 270px;
    

}
.scroll{
    width: 100%; 
    // padding-left: 10px;
    // overflow-y: scroll;
    overflow: auto;
}
.boxes{
    display: flex;
     align-items: center;
     border: 1px solid rgb(204,204,204);
   margin: 13px 15px;

}
.icon_5{
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 12px;
    margin-bottom: 15px;
    right: 90%;
    background-size: cover;
     background-image: url("../../assets/images/ddd.png"); 
}
.box-container {
    align-items: center;
    /* height: 360px; */
    justify-content: space-between;
}
.context_5 {
    margin-left: 17px;
    font-size: 20px;
}

.cross {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    background-image: url("../../assets/images/close.png");
    background-size: cover;
}

.icon {
     position: unset;
     top: -500px;
     margin: 10px 20px 10px 20px;
    background-image: url("../../assets/images/home.png");
     background-size: cover;
}

.icon2 {
    position: unset;
    top: -500px;
    margin: 10px 20px 10px 20px;
    background-image: url("../../assets/images/Weigh.jpg");
    background-size: cover;
}

.icon3 {
    position: unset;
    top: -500px;
    margin: 10px 20px 10px 20px;
    background-image: url("../../assets/images/user.png");
    background-size: cover;
}

.checkbox1 {
    border-radius: 50%;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    display: inline-block;
}
.checkbox2{
    border-radius: 50%;
    border: 2px solid black;
    // height: 30px;
    // width: 30px;
    display: inline-block;
    margin-left: 2px;

}

.cancel {
    align-self: last baseline;
    // margin-left: 100px;
    padding: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    color: white;
    background-color: blue;
}

.next {
    align-self: last baseline;
    margin-left: 40px;
    color: white;    
    width: 80px;
    // margin-top: -90px;
    margin-right: 35px;
    padding: 15px;  
}
.content_1{
    flex-grow: 1;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
    margin-right: 5px;
}
.content_2{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.content_3{
    
    // margin-top:-20px;
    font-size: 18px; 
    font-weight: bold;
}

.content_4{
    // margin-top:-35px;
    // margin-left: -35px;
    font-size: 18px;
     font-weight: bold;
}
.content_6{
    text-indent:-5px;
    font-size: 18px;
    
}
.content_7{
    font-size: 13px;
    // padding-top: -5px;
    line-height: 16px;
}
.default{
     display: flex;
     padding-top: 20px;
     text-indent: 17px;
}
.foot_container{
    width:100%;position: absolute; 
    display:flex; flex-direction: column;
    bottom: 0;left: 0;right: 0;
}
.apply{
    align-self: last baseline;
    margin-left: 40px;
    color: white;    
    width: 120px;
    // margin-top: -90px;
    margin-right: 35px;
    padding: 15px;   
}

// input[type="radio"] {
//     -webkit-appearance: checkbox;
// }