<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<div class="report-page" *ngIf="datasetSelectorService.isDataApplied">
    <div class="page-header">
        <div>
            <input class="page-header-title" [(ngModel)]="reportTitle"  type="text" (blur)="saveInputText()" size="18px"/>
        </div>
        <div class="page-header-shimmer-title" *ngIf="shimmerService.isloading">
            <ngx-skeleton-loader [theme]="{ 'height': '35px', 'background-color': 'rgb(204,204,204)',}" count="1"
                appearance="line">
            </ngx-skeleton-loader>
        </div>
        <div class="page-header-icons-container">
            <button type="button" class="icon_button" [disabled]="undoIconDisable" style="transform: scaleX(-1)"
                (click)="undoClick()">
                <i class="fa fa-share"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="redoIconDisable" (click)="redoClick()">
                <i class="fa fa-share"></i>
            </button>
            <span class="vertical-line"></span>
            <button type="button" class="icon_button" [disabled]="downloadIconDisable">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="saveIconDisable || shimmerService.isloading"
                (click)="saveReportTitle()">
                <i class="fa fa-print"></i>
            </button>
            <span class="vertical-line"></span>
            <button type="button" class="icon_button" [disabled]="addcardIconDisable">
                <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="moreIconDisable">
                <i class="fa fa-ellipsis-h"></i>
                
            </button>
        </div>
        <div class="header-more">
            <div class="more-flex-container">
                <div class="icon">
                    <span class="symbol">
                        <i class="fa fa-print"></i>
                    </span>
                    <span>Save</span>
                </div>
                <div class="icon">
                    <span class="symbol">
                        <i class="fa fa-plus-circle"></i>
                    </span>
                    <span>Add</span>
                </div>
                <div class="icon">
                    <span class="symbol">
                        <i class="fa fa-filter"></i>
                    </span>
                    <span>Report Filter</span>
                </div>
                <div class="icon">
                    <span class="symbol">
                        <i class="fa fa-retweet"></i>
                    </span>
                    <span>Edit Report layout</span>
                </div>
            </div>
        </div>
    </div>

    <app-data-summary></app-data-summary>

    <div class="card">
        <div class="card-head-body">
            <div class="card-head">
                <input class="tab-title" type="text" value="Table-1" />
                <div class="card-icons">
                    <button type="button" class="icon_button">
                        <i class="fa fa-arrows-alt" style="transform: rotate(45deg)"></i>
                    </button>
                    <button type="button" class="icon_button">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                </div>
            </div>
            <div class="card-body-shimmer" *ngIf="shimmerService.isloading">
                <ngx-skeleton-loader [theme]=" { height: '100%' , width: '100%' }" count="1" appearance="line">
                </ngx-skeleton-loader>
            </div>
            <div *ngIf="!shimmerService.isloading" class="card-body">
                <div class="table-head">
                    <table class="report-table">
                        <thead>
                            <tr>
                                <th style="min-width: 9vw;min-width: 9vw;">Markets</th>
                                <th style="min-width: 9vw;min-width: 9vw;">Periods</th>
                                <th style="min-width: 14vw;min-width: 14vw;">Products</th>
                                <th style="min-width: 6vw;min-width: 6vw; text-align: right">$</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-body">
                    <table class="report-table">
                        <tbody>
                            <tr *ngFor="let i of [0, 1, 2, 3,4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] ">
                                <td style="width: 9vw">Total US Food</td>
                                <td style="width: 9vw">4 w/e 07/20/19</td>
                                <td style="min-width: 14vw; max-width: 14vw">
                                    BEER | ANHEUSER-BUSCH IN BEV SA
                                </td>
                                <td style="width: 6vw; text-align: right;">###
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-report-page-footer ></app-report-page-footer>