<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<div class="report-page" *ngIf="datasetSelectorService.isDataApplied">
    <div class="page-header">
        <div>
            <input class="page-header-title" [(ngModel)]="reportTitle" type="text" (blur)="saveInputText()"
                size="18px" />
        </div>
        <!-- <div class="page-header-shimmer-title" *ngIf="shimmerService.isloading">
            <ngx-skeleton-loader [theme]="{ 'height': '35px', 'background-color': 'rgb(204,204,204)',}" count="1"
                appearance="line">
            </ngx-skeleton-loader>
        </div> -->
        <div class="page-header-icons-container">
            <button type="button" class="icon_button" [disabled]="undoIconDisable" style="transform: scaleX(-1)"
                (click)="undoClick()">
                <i class="fa fa-share"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="redoIconDisable" (click)="redoClick()">
                <i class="fa fa-share"></i>
            </button>
            <span class="vertical-line"></span>
            <button type="button" class="icon_button" [disabled]="downloadIconDisable">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="saveIconDisable || shimmerService.isloading"
                (click)="saveReportTitle()">
                <i class="fa fa-print"></i>
            </button>
            <span class="vertical-line"></span>
            <button type="button" class="icon_button" (click)="showChartList=!showChartList"
                [disabled]="addcardIconDisable">
                <i class="fa fa-plus-circle"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="moreIconDisable" (blur)="headerMore = false"
                (click)="headerMore = !headerMore">
                <i class="fa fa-ellipsis-h"></i>

            </button>
        </div>

        <div *ngIf="showChartList" class="more-container" id="chart-container">
            <div *ngFor="let option of chartOptions; let i = index" class="icon chart-icon">
                <div (click)="addCard(option.name)">
                    <span class="symbol chart-symbol">
                        <i class="{{ option.class }}"> </i>
                    </span>
                    <span>{{ option.name }}</span>
                </div>
            </div>

        </div>
        <div *ngIf="headerMore" class="more-container">
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-print"></i>
                </span>
                <span>Save</span>
            </div>
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-plus-circle"></i>
                </span>
                <span>Add</span>
            </div>
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-filter"></i>
                </span>
                <span>Report Filter</span>
            </div>
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-retweet"></i>
                </span>
                <span>Edit Report layout</span>
            </div>
        </div>
    </div>

    <app-data-summary></app-data-summary>
    <div #cardHolder class="card-holder">
        <div *ngFor="let a of cardList" class="card" [ngClass]="{'expand-card': expandCard, 'comp-card': !expandCard}">
            <div class="card-head">
                <input class="tab-title" type="text" [value]= 'a.title' />
                <div class="card-icons">
                    <button type="button" class="icon_button" (click)="expandCard = !expandCard">
                        <i class="fa fa-arrows-alt" style="transform: rotate(45deg)"></i>
                    </button>
                    <button type="button" class="icon_button">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                </div>
            </div>
            <div class="card-body-shimmer" *ngIf="shimmerService.isloading">
                <ngx-skeleton-loader [theme]=" { height: '100%' , width: '100%' }" count="1" appearance="line">
                </ngx-skeleton-loader>
            </div>
            <div *ngIf="!shimmerService.isloading" class="card-body">

                <ag-grid-angular
                    style="width: 100%; height: 100%;"
                    class="ag-theme-alpine"
                    [rowData]="rowData"
                    [columnDefs]=a.columns>
                </ag-grid-angular>

            </div>
        </div>
    </div>

    <!-- <div>Run-Buttom HTML</div> -->

    <div class="Run-Button-container">
        <button class="Run-Button" [disabled]="shimmerService.isloading" (click)="RunButton()" *ngIf="showRunButton"
            [style.background]="shimmerService.isloading? '#bbccdd' : 'blue'">Run ➤</button>
    </div>
    <app-bottom-bar *ngIf="showBottomBar"></app-bottom-bar>
</div>
<app-report-page-footer *ngIf="!expandCard"></app-report-page-footer>