<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<div class="report-page" *ngIf="true">
    <div class="page-header">
        <div>
            <input class="page-header-title" [(ngModel)]="reportTitle" type="text" (blur)="saveInputText()"
                size="18px" />
        </div>
        <div class="page-header-shimmer-title" *ngIf="shimmerService.isloading">
            <ngx-skeleton-loader [theme]="{ 'height': '35px', 'background-color': 'rgb(204,204,204)',}" count="1"
                appearance="line">
            </ngx-skeleton-loader>
        </div>
        <div class="page-header-icons-container">
            <button type="button" class="icon_button" [disabled]="undoIconDisable" style="transform: scaleX(-1)"
                (click)="undoClick()">
                <i class="fa fa-share"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="redoIconDisable" (click)="redoClick()">
                <i class="fa fa-share"></i>
            </button>
            <span class="vertical-line"></span>
            <button type="button" class="icon_button" [disabled]="downloadIconDisable">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="icon_button" [disabled]="saveIconDisable || shimmerService.isloading"
                (click)="saveReportTitle()">
                <i class="fa fa-print"></i>
            </button>
            <span class="vertical-line"></span>            
            <!-- (blur)="showChartList = false" -->
            <button type="button" class="icon_button" [disabled]="addcardIconDisable" (click)="showChartList = !showChartList" (blur)="showChartList = false">
                <i class="fa fa-plus-circle"></i>
            </button>
          

            <button type="button" class="icon_button" [disabled]="moreIconDisable" (blur)="headerMore = false"
                (click)="headerMore = !headerMore">
                <i class="fa fa-ellipsis-h"></i>
            </button>
        </div>

        <div *ngIf="showChartList" class="more-container" id="chart-container">
            <div *ngFor="let option of chartOptions; let i = index" class="icon chart-icon" (mousedown)="openCard(i)">
                <span class="symbol chart-symbol">
                    <i class="{{option.class}}"> </i>
                </span>
                <span>{{option.name}}</span>
            </div>
        </div>

        <div *ngIf="headerMore" class="more-container">
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-print"></i>
                </span>
                <span>Save</span>
            </div>
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-plus-circle"></i>
                </span>
                <span>Add</span>
            </div>
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-filter"></i>
                </span>
                <span>Report Filter</span>
            </div>
            <div class="icon">
                <span class="symbol">
                    <i class="fa fa-retweet"></i>
                </span>
                <span>Edit Report layout</span>
            </div>
        </div>
    </div>

    <app-data-summary></app-data-summary>
    <app-card-design></app-card-design>
</div>
<app-report-page-footer *ngIf="true"></app-report-page-footer>
<!-- datasetSelectorService.isDataApplied -->
<!-- !expandCard -->