.cross {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    font-size: 24px;
    background-image: url("src\assets\images\close.png");
    background-size: cover;
}

.back {
    position: absolute;
    top: 20px;
    left: 37px;
    font-size: 30px;
    height: 400px;
    width: 200px;
}

.search-bar {
    background-color: #F5F5F5;
    outline: none;
    margin-right: 10px;
    margin-left: 1cm;
    min-height: 25px;
    font-size: 1.5rem;
    padding: 10px 40px;
    border: 0;
    border-bottom: 1px solid rgb(109, 105, 105);
    margin-bottom: 15px;
    width: 270px;
}

.header {
    text-indent: 3cm;
    font-size: 27px;
}

.context {
    text-indent: 1cm;
    font-size: 20px;
}

.box {
    flex-basis: calc(33.33% -20px);
    margin: 10px;
    padding: 3px;
    height: 100px;
    width: 470px;
    border: 1px solid rgb(204, 197, 197);
}

.box-container {
    height: 260px;
    align-items: center;
    justify-content: space-between;
}

.icon {
    position: absolute;
    height: 40px;
    width: 35px;
    margin-top: 12px;
    margin-bottom: 18px;
    right: 85%;
    background-size: cover;

}

.checkbox1 {
    position: relative;
    top: -55px;
    border-radius: 50%;
    border: 2px solid black;
    height: 40px;
    width: 30px;
    display: inline-block;
}

.title {
    text-indent: 0.2cm;
}

/* .checkbox4{
    position: relative;
    border-radius: 50%;
    top: -80px;
    border: 2px;
    height: 40px;
    width: 30px;
    display: inline-block;
} */

.context1 {
    text-indent: 2cm;
    font-size: 25px;
}

.cancel {
    margin-top: 50px;
    margin-right: 50px;
    padding: 15px;
}

.next {
    margin-top: 50px;
    padding: 15px;
    color: white;
    background-color: blue;
}