<h2 class="header">SYNDICATED US</h2>

<mat-icon class="back" mat-dialog-close (click)="goBack1()">⬅</mat-icon>
<p class="context">Choose a data view</p>

<mat-icon class="cross" mat-dialog-close></mat-icon>

<div padding="5px">
    <input type="text" data-cy="inpt-search-asset" id="search" name="searchText" class="search-bar">
    <mat-icon class="icon">🔍</mat-icon>
</div>


<mat-dialog-content class="custom-dialog-content">
    <div class="box-container">

        <div class="box">

            <label class="content">
                <div>
                    <h3 class="title">Nielsen US RMS OnDemand Syndicated..</h3>
                </div>
                <div>
                    <mat-dialog-actions align="end">
                        <div id="checkbox-container" class="checked">
                            <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                (change)="updateCheckboxSelection()">
                        </div>
                    </mat-dialog-actions>
                </div>
            </label>
        </div>

        <div class="box">

            <label class="content">
                <div>
                    <h3 class="title">97210-RB_RULE</h3>
                </div>
                <div>
                    <mat-dialog-actions align="end">
                        <div id="checkbox-container" class="checked">
                            <input type="checkbox" name="option1" value="option1" class="checkbox1"
                                (change)="updateCheckboxSelection()">
                        </div>
                    </mat-dialog-actions>
                </div>
            </label>
        </div>

    </div>
</mat-dialog-content>
<!-- <p class="context1">Save as Default</p> -->

<!-- <table>
            <td>
                <tr ></tr>
                <tr >
                    <td>
                        <mat-dialog-actions>
                            <div>
                                <input type="checkbox" value="option1" class="checkbox4">
                            </div>
                        </mat-dialog-actions>
                    </td>
                </tr>
            </td>
        </table> -->

<mat-dialog-actions align="end">
    <div>
        <button class="cancel" mat-raised-button mat-dialog-close>Cancel</button>
        <button class="next" mat-raised-button mat-dialog-close [disabled]="!isAtLeastOneCheckboxSelected"
            [style.background]="isAtLeastOneCheckboxSelected ? 'blue' : '#bbccdd' ">Apply Dataset</button>
    </div>

</mat-dialog-actions>